<nav>
    <a href="/">Home</a>
    <ul>
        <!-- Guest users and Logged users -->
        <li><a href="/housing">Housing for rent</a></li>
        <!-- Guest users -->
        {{#unless user}}
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
        {{else}}
        <!-- Logged users -->
        <li><a href="/housing/create">Create offer</a></li>
        <li><a href="/housing/search">Search</a></li>
        <li><a href="/users/logout">Logout</a></li>
        {{/unless}}
    </ul>
</nav>